<div class="include" ng-include="rootTools.url()"></div>
<!-- <button type="button" class="btn btn-default" ng-click="alert('success', 'Hi There')">say hi</button> -->


<div id="alerts" class="br point25">
	<div role="alert" class="alert" 
	ng-repeat="alert in alerts"
	ng-class="alert.type">
	<button type="button" class="close" ng-click="rootTools.alert.dismiss(alert)">
		<span aria-hidden="true">&times;</span>
		<span class="sr-only">Close</span>
	</button>
	<span>{{alert.message}}</span></div>
</div>

<div id="lock-back">
	<div id="lock">
		<h1 ng-click="rootTools.status('open')">Locked</h1>
	</div>
</div>